.learn-scientific {
  height: 100%;
  .search-bar-wrapper {
    padding: 10px 20px;
  }
  .tabs-wrapper {
    height: calc(100% - 60px);
    :global(.adm-tabs-header) {
      padding-left: 8px;
    }
    :global(.adm-tabs-content) {
      padding: 0 20px;
      height: calc(100% - 40px);
      overflow: auto;
    }
    .tabs {
      --active-title-color: #2556b8;
      --active-line-color: #2556b8;
      --active-line-height: 3px;
      --active-line-border-radius: 0;
      --title-font-size: 13px;
      --adm-color-border: #f1f2f6;
      height: 100%;

      .tab {
        height: 38px;
        color: #4c5666;
        font-weight: 500;
      }
    }
  }
}
