$tabbar-height: 48px;

.main {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  .content {
    height: calc(100vh - $tabbar-height);
  }

  .tabbar {
    height: $tabbar-height;
    background-color: var(--adm-color-background);
    position: relative;
    z-index: 999;
    .link {
      font-size: 10px;
      line-height: 12px;
      color: rgba(0, 0, 0, 0.9);
      &.active {
        color: #3166f5;
      }
    }
  }
}
