.wx-share-popup {
  .wx-share-popup-wrapper {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 20px;
    .title {
      margin-top: 0;
    }
    .actions {
      display: flex;
      flex-direction: row;
      .action {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        & + .action {
          margin-left: 10px;
        }
        .wx {
          padding: 4px;
        }
        .label {
          color: #abb1bc;
          font-size: 12px;
        }
      }
    }
  }
}
