.desc {
  font-size: 14px;
  color: #bcc2cc;
}

.hr {
  display: block;
  height: 8px;
  background-color: #fafafb;
  margin: 0;
  border: none;
}
.list {
  flex: 1;
  overflow: auto;
  padding: 0 20px;
  .title {
    color: #030504;
    line-height: 20px;
    font-size: 16px;
    margin-bottom: 20px;
  }
  .review {
    padding: 20px 0;
    &:nth-child(1) {
      padding-top: 0;
    }
    & + .review {
      border-top: 1px solid #eff0f2;
    }
    .profile {
      width: 100%;
      margin-bottom: 12px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .left {
        width: calc(100% - 160px);
        display: flex;
        flex-direction: row;
        overflow: hidden;
        .avatar {
          --size: 40px;
          margin-right: 8px;
          flex-shrink: 0;
        }
        .info {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          flex: 1;
          width: inherit;
          .name {
            display: inline-block;
            color: #1a1a1a;
            font-size: 15px;
            font-weight: 600;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
          }
          .time {
            color: #808080;
            font-weight: 500;
          }
        }
      }
      .right {
        font-size: 16px;
        color: #f46b4f;
        .stars {
          --star-size: 16px;
        }
        .score {
          font-weight: 600;
          margin: 0 2px;
          vertical-align: middle;
        }
        .unit {
          vertical-align: middle;
        }
      }
    }
    .text {
      color: #4d4d4d;
      margin: 0;
      font-size: 15px;
      font-weight: 500;
    }
  }
  .end {
    margin-top: -16px;
  }
}
