.edit-profile {
  .header {
    padding: 40px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    .avatar {
      --size: 88px;
    }
  }
  .form {
    --prefix-width: 68px;
    --adm-color-text-secondary: #6b7080;
    --adm-color-text: #131d34;
    --adm-color-light: #cad1e5;
    --border-top: none;
    --border-bottom: none;
    --border-inner: none;
    :global(.adm-list-item-content-prefix) {
      border-bottom: 1px solid #eff1f5;
    }
    :global(.adm-list-item-content-main) {
      border-bottom: 1px solid #eff1f5;
    }
  }
}
