@font-face {
  font-family: "PingFang SC";
  src: url("./assets/PingFang SC.ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  --adm-font-family: -apple-system, "PingFang SC", blinkmacsystemfont,
    "Helvetica Neue", helvetica, segoe ui, arial, roboto, "miui",
    "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
  * {
    font-family: var(--adm-font-family);
    box-sizing: border-box;
  }
  .adm-rate-star {
    --inactive-color: #f4f6fa;
    --active-color: #f46d4f;
  }
  .adm-avatar {
    --border-radius: 50%;
  }

  #root {
    height: 100vh;
    width: 100vw;
  }
}

@media all and (orientation: portrait) {
  #root {
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
  }
}

@media all and (orientation: landscape) {
  #root {
    padding-left: constant(safe-area-inset-left);
    padding-right: constant(safe-area-inset-right);
    padding-bottom: constant(safe-area-inset-bottom);
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
    padding-bottom: env(safe-area-inset-bottom);
  }
}
