.scientific-list {
  .item {
    & + .item {
      border-top: 1px solid #f1f2f6;
    }
    padding: 20px 0;
    display: flex;
    .cover-img {
      border-radius: 4px;
      margin-right: 12px;
      object-fit: cover;
      width: 120px;
      height: 85px;
    }
    .content {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .title {
        color: #030504;
        line-height: 20px;
        font-size: 16px;
        margin: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
      }
      .content-footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-weight: 500;
        .price {
          font-size: 12px;
          font-weight: 500;
          color: #f46b4f;
          line-height: 14px;
          &.free {
            color: #bcc2cc;
          }
        }
        .time {
          font-size: 12px;
          color: #bcc2cc;
          line-height: 14px;
        }
      }
    }
  }
  .loading {
    width: 100%;
    color: var(--adm-color-light);
    display: flex;
    align-items: center;
    border-width: 0;
    border-color: var(--adm-color-border);
    border-style: solid;
    font-size: 14px;

    .divider-content {
      padding: 0 16px;
    }

    &::before,
    &::after {
      flex: auto;
      display: block;
      content: "";
      border-style: inherit;
      border-color: inherit;
      border-width: 1px 0 0;
    }
  }
  .footer {
    margin: -16px 0 10px;
    width: 100%;
  }
}
