.pay {
  height: 100vh;
  .title {
    color: #030504;
    line-height: 20px;
    font-size: 16px;
    margin: 0;
  }
  .wrapper {
    height: calc(100vh - 58px);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    .scientific {
      padding: 20px;
      .header {
        padding-bottom: 16px;
        .desc {
          margin-top: 8px;
          font-size: 14px;
          display: flex;
          flex-direction: row;
          justify-content: end;
          .label {
            color: #bcc2cc;
          }
          .price {
            color: #f46b4f;
            font-weight: 600;
          }
        }
      }
      .content {
        border-radius: 4px;
        overflow: hidden;
        width: 100%;
        position: relative;
        font-size: 0;
        .img {
          width: 100%;
          height: 200px;
          object-fit: cover;
        }
        .mask {
          background-color: rgba(0, 0, 0, 0.5);
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          .lock-btn {
            font-size: 12px;
            padding: 8px 16px;
            color: #ffffff;
            border-radius: 16px;
            background-color: #db950e;
            border-color: #db950e;
          }
        }
      }
    }
    .hr {
      display: block;
      height: 8px;
      background-color: #fafafb;
      margin: 0;
      border: none;
    }
    .sub {
      padding: 20px;
    }
    .list {
      flex: 1;
      overflow: auto;
      padding: 0 20px;
      .review {
        padding: 20px 0;
        &:nth-child(1) {
          padding-top: 0;
        }
        & + .review {
          border-top: 1px solid #eff0f2;
        }
        .profile {
          width: 100%;
          margin-bottom: 12px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          .left {
            width: calc(100% - 160px);
            display: flex;
            flex-direction: row;
            overflow: hidden;
            .avatar {
              --size: 40px;
              margin-right: 8px;
              flex-shrink: 0;
            }
            .info {
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              flex: 1;
              width: inherit;
              .name {
                display: inline-block;
                color: #1a1a1a;
                font-size: 15px;
                font-weight: 600;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
              }
              .time {
                color: #808080;
                font-weight: 500;
              }
            }
          }
          .right {
            font-size: 16px;
            color: #f46b4f;
            .stars {
              --star-size: 16px;
            }
            .score {
              font-weight: 600;
              margin: 0 2px;
              vertical-align: middle;
            }
            .unit {
              vertical-align: middle;
            }
          }
        }
        .text {
          color: #4d4d4d;
          margin: 0;
          font-size: 15px;
          font-weight: 500;
        }
      }
      .end {
        margin-top: -16px;
      }
    }
  }
  .footer {
    height: 58px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid #ebebeb;
    .action {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 10px;
      color: #808080;
      .icon {
        font-size: 24px;
        margin-bottom: 2px;
      }
    }
    .pay-btn {
      background-color: #3166f5;
      border-color: #3166f5;
      color: #ffffff;
      padding: 10px 74px;
    }
  }
}
