@font-face {
  font-family: "PingFang SC";
  src: url("./assets/PingFang SC.ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  --adm-font-family: -apple-system, "PingFang SC", blinkmacsystemfont,
    "Helvetica Neue", helvetica, segoe ui, arial, roboto, "miui",
    "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
}

.adm-button {
  font-family: var(--adm-font-family);
}
.adm-rate-star {
  --inactive-color: #f4f6fa;
  --active-color: #f46d4f;
}
