.mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;

  .arrow {
    position: absolute;
    right: 0;
    top: 0;
    width: 25vw;
  }

  .tip {
    position: absolute;
    top: 34.76vw;
    left: 25vw;
    width: 50vw;
  }
}
